header {
    animation-name: header;
    -webkit-animation-name: header; 
 
    animation-duration: 1s; 
    -webkit-animation-duration: 4s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes header {
    0% {
        transform: translateY(-100%);
    }
}
.basic {
    animation-name: basic;
    -webkit-animation-name: basic; 
 
    animation-duration: 5s; 
    -webkit-animation-duration: 5s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}

 
@keyframes basic {
    0% {
        transform: translateY(-100%);
    }
}

.sehref {
    animation-name: sehref;
    -webkit-animation-name: sehref; 
 
    animation-duration: 6s; 
    -webkit-animation-duration: 6s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}

 
@keyframes sehref {
    0% {
        transform: translateY(-100%);
    }
}

.porthref {
    animation-name: porthref;
    -webkit-animation-name: porthref; 
 
    animation-duration: 7s; 
    -webkit-animation-duration: 7s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
@keyframes porthref {
    0% {
        transform: translateY(-100%);
    }
}

.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideRight {
    0% {
        transform: translateX(-41%);
    }
}
 
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-41%);
    }
}



 

.slideLeft{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft; 
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    
    
}
 
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(-150%);
    }
}
.slideRightborder {
    animation-name: slideRightborder;
    -webkit-animation-name: slideRightborder; 
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideRightborder {
    0% {
        transform: translateX(-41%);
    }
}
 
@-webkit-keyframes slideRightborder {
    0% {
        -webkit-transform: translateX(-41%);
    }
}
.animate {
    font-size: 30px;
    margin: 100px 0 0;
}

.animate span {
    display: inline-block;
}

a.repeat {
  display: inline-block;
  font-size: 12px;
  text-transform: none;
  text-decoration: none;
  color: orange;
  padding: 5px 12px;
  border: 1px solid #cecece;
  font-weight: normal;
  margin: 0 0 0 50px;
  border-radius: 5px;
  position: relative;
  bottom: 15px;
}

.phone img{
    animation-name: tossing;
    -webkit-animation-name: tossing;    
 
    animation-duration:1100ms;   
    -webkit-animation-duration: 1100ms;
 
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
 
@keyframes tossing {
    0% {
        transform: rotate(-4deg);   
    }
    10% {
        transform: rotate(4deg);
    }
    20% {
        transform: rotate(-4deg);
    }
    30% {
        -webkit-transform: rotate(4deg);
    }
    40% {
        -webkit-transform: rotate(-4deg);
    }
    50% {
        -webkit-transform: rotate(4deg);
    }
    60% {
        -webkit-transform: rotate(0deg);
    }
    70% {
        -webkit-transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);   
    }                       
}
 
@-webkit-keyframes tossing {
    0% {
        transform: rotate(-4deg);   
    }
    10% {
        transform: rotate(4deg);
    }
    20% {
        transform: rotate(-4deg);
    }
    30% {
        -webkit-transform: rotate(4deg);
    }
    40% {
        -webkit-transform: rotate(-4deg);
    }
    50% {
        -webkit-transform: rotate(4deg);
    }
    60% {
        -webkit-transform: rotate(0deg);
    }
    70% {
        -webkit-transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);   
    }                                   
}

.pink{
	color: #ff557d;
} 
.raleway {
    font-family: RalewayBlack;
}

.example-three > img {
  position: relative;
}
.example-three > img:nth-child(2),
.example-three > img:nth-child(3) {
    position: absolute;
}

.pingli{
    display: none;
    margin-top: -18.5%;
    margin-left: 1%;
}
.ingli{
    display: none;
    margin-top: -7.5%;
    margin-left: 0%;
}
.webgli{
    display: none;
    margin-top: -37.5%;
    margin-left: 0%;
}
.stugli{
    display: none;
    margin-top: -32.5%;
    margin-left: -3.5%;
}
.example-three:hover > img:nth-child(2) {
  display: block;
}
