#portfolio{
    width: 100%;
    height:95vh;
    background-color: transparent;
}
.slides {
	height: 95vh;
}
.slides p{
    display: block;
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
    font-family: RobotoBk;
    font-size: 200px;
    letter-spacing: 100px;
    opacity: 0.3;
	color: white;
	z-index: -2;
}
.aboutproject1, .aboutproject2, .aboutproject3, .aboutproject4, .aboutproject5 {
	background-image: url(../img/backexample1.jpg);
	width: 100vw;
	height: 100%;
}
.aboutproject2{
	background-image: url(../img/portimgsm.jpg);
}
.aboutproject4 {
	background-image: url(../img/portimgsm.jpg);
}
.aboutproject99 {
	background-image: none;
}
.imgabout {
	border: solid white 0px;
	width: 40%;
	height: 45%;
	margin: 0 auto;
	margin-top: 5%;
	z-index: 3;
	transition: 300ms;
	background-image: url(../img/example1.jpg); 
	background-size: 100%;
	background-position: 0 100%;
}
.imgabout:hover {
	width: 39%;
	height: 43%;
	border: solid white 10px;
}

.textproject{
	width: 30%;
	font-size: 15px;
	color: white;
	margin-left: 29%;
	margin-top: 5%;
}
#slide-1 {
	width: 100%;
	height: 100%;
}
.alljobs {
    width: 9%;
    height: 4%;
    background-color: transparent;
    margin-left: 65%;
    margin-top: 3%;
    position: relative;
}
.alljobs p{
	font-family: RobotoLight;
    margin-top: 0%;
    margin-left: 8%;
    font-size: 0.3em;
    letter-spacing: 5px;
    color: white;
    z-index: 1;
    opacity: 0.7;
}
.alljobs img {
    position: absolute;
    margin-top: 13%;
    margin-left: 35%;
    transition: 300ms;
}
.alljobs hr {
	width: 30%;
	color: white;
	float: left;
	margin-top: 14.5%;
	transition: 300ms;
}

.alljobs:hover hr {
	color: #ff557d;
  	width: 80%;
  	transition: 300ms;
}
.alljobs:hover img {
	margin-left: 85%;
	transition: 300ms;
}
.alljobs:hover p{
	opacity: 1;
}