#portfolio{
    width: 99vw;
    height:95vh;
    margin-top: 0%;
}
#portfolio img{
	width: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 95vh;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 95vh;
}

/* Next & previous buttons */
.prev, .next {
	height: 7%;
	right: 4%;
	cursor: pointer;
	position: absolute;
	top: 15%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	z-index: 10;
	background-image: url(../img/btnportf.png);
	background-position: 50%;
}

/* Position the "next button" to the right */
.next {
	top: 80%;
	transform: rotate(180deg);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-image: url(../img/btnportfhov.png);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 2.9vw;
  width: 13px;
  margin: 0.5% 40px;
  background-image: url(../img/dotport.png);
   background-position: 50%; 
  background-size: 1px 100%;
  display: inline-block;
}
.dot p{
  margin-left: -0.2%;
  transform: rotate(-90deg);
  margin-top: 5em;
  color: white;
  letter-spacing: 2px;
  transition: 150ms;
  position: absolute;
}
.dot p:hover, .dot:hover p{
  font-size: 1.1em;
  margin-top: 4.48em;
}
.dots{
	transform: rotate(90deg);
	margin-right: -90%;
	margin-top: -52vh;
}

.active, .dot:hover {
  	background-image: url(../img/dotporthov.png);
}
.active{
	height: 4vw;
  margin-bottom: 0%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.aboutproject1 p, .aboutproject2 p, .aboutproject3 p, .aboutproject4 p, .aboutproject5 p{
  display: block;
  position: absolute;
  margin-top: 20%;
  margin-left: 15%;
  font-family: RobotoBk;
  font-size: 13em;
  letter-spacing: 0.3em;
  opacity: 0.3;
  color: white;
  z-index: 0;
}
.aboutproject3 > .pinsbackportpar{
  font-size: 17em;
  margin-top: 17%;
    margin-left: 12%;
}
.aboutproject1, .aboutproject2, .aboutproject3, .aboutproject4, .aboutproject5 {
	background-image: url(../img/grapeback.jpg);
	width: 99.1vw;
	height: 100%;
	background-size: 100%;
}
.aboutproject2{
	background-image: url(../img/zakarpat.jpg);
}
.aboutproject3{
	background-image: url(../img/pinselbackport.jpg);
}

.aboutproject4 {
	background-image: url(../img/portimgsm.jpg);
}

.imgabout, .imgabout2, .imgabout3 {
	position: absolute;
  border: solid white 1px;
  width: 50%;
  height: 46%;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: 27.5%;
  transition: 180ms;
  background-image: url(../img/grapeabout.jpg);
  background-size: 100%;
  background-position: 0 100%;
  z-index: 5;
}
.imgabout:hover, .imgabout2:hover, .imgabout3:hover{
	width: calc(50% - 6px);
  height: calc(46% - 6px);
  margin-left: calc(27.5% - 3px);
  margin-top: calc(3% - 3px);
	border: solid white 6px;
  background-image: url(../img/example1hov.jpg);
}



.imgabout2{
  /*height: 43%;*/
  background-position: 1%;
  background-size: 100%;
  background-image: url(../img/zakarabout.png);
}
.imgabout2:hover{
  /*height: 41.3%;*/
  background-image: url(../img/zakarhov.jpg);
}

.imgabout3{
  background-position: 2%;
  background-image: url(../img/pinabout.jpg);
}
.imgabout3:hover{
   background-image: url(../img/pinabouthov.jpg);
}
.projectname p{
  margin-top: 25%;
  margin-left: 21%;
  font-family: RobotoBk;
  font-size: 2.4em;
  letter-spacing: 0.19em;
   opacity: 1; 
  color: white;
  z-index: 6;
}
.textproject{
	position: absolute;
    width: 50%;
    font-size: 1.3em;
    color: white;
    margin-left: 30%;
    margin-top: 33%;
    letter-spacing: 0.1em;
}
.cat p{
  display: block;
  position: absolute;
  margin-top: 40%;
  margin-left: 30%;
  font-family: RobotoLight;
  font-size: 1em;
  letter-spacing: 0.5em;
  opacity: 1;
  color: white;
  z-index: 3;
}
.alljobs {
    width: 9%;
    height: 4%;
    background-color: transparent;
    margin-left: 70%;
    margin-top: 40%;
    position: absolute;
}
.alljobs p{
	font-family: RobotoLight;
    margin-top: 0%;
    margin-left: 8%;
    font-size: 1em;
    letter-spacing: 5px;
    color: white;
    z-index: 1;
    opacity: 0.7;
}
.alljobs img {
    position: absolute;
    margin-top: 17%;
    margin-left: 5%;
    transition: 300ms;
}
.alljobs hr {
	width: 30%;
	color: white;
	float: left;
	margin-top: 18.5%;
	transition: 300ms;
}

.alljobs:hover hr {
	color: #ff557d;
  	width: 85%;
  	transition: 300ms;
}
.alljobs:hover img {
	margin-left: 5%;
	transition: 300ms;
}
.alljobs:hover p{
	opacity: 1;
}
@media screen and (max-width: 1681px){
  #portfolio{
    width: 99vw;
    height:100vh;
    margin-top: 0%;
}
.aboutproject1 p, .aboutproject2 p, .aboutproject3 p, .aboutproject4 p, .aboutproject5 p {
    display: block;
    position: absolute;
    margin-top: 21%;
    margin-left: 9%;
    font-family: RobotoBk;
    font-size: 12em;
    letter-spacing: 0.29em;
    opacity: 0.3;
    color: white;
    z-index: 0;
}
.aboutproject2 p{
  margin-left: 14%;
}
.aboutproject1, .aboutproject2, .aboutproject3, .aboutproject4, .aboutproject5 {
  width: 99.1vw;
  height: 100%;
  background-size: 100%;
}

.imgabout {
  position: absolute;
  border: solid white 1px;
  width: 50%;
  height: 45%;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: 27.5%;
  transition: 250ms;
  background-size: 100%;
  background-position: 0 100%;
  z-index: 5;
}
.imgabout:hover {
  width: 48.9%;
  height: 43.3%;
  border: solid white 10px;
}
.projectname p{
  margin-top: 25%;
  margin-left: 21%;
  font-family: RobotoBk;
  font-size: 2.4em;
  letter-spacing: 0.19em;
   opacity: 1; 
  color: white;
  z-index: 6;
}
.textproject{
  position: absolute;
    width: 50%;
    font-size: 1.3em;
    color: white;
    margin-left: 30%;
    margin-top: 33%;
    letter-spacing: 0.1em;
}
.cat p{
  display: block;
  position: absolute;
  margin-top: 40%;
  margin-left: 30%;
  font-family: RobotoLight;
  font-size: 1em;
  letter-spacing: 0.5em;
  opacity: 1;
  color: white;
  z-index: 3;
}
.alljobs {
    width: 9%;
    height: 4%;
    background-color: transparent;
    margin-left: 70%;
    margin-top: 40%;
    position: absolute;
}
.alljobs p{
  font-family: RobotoLight;
    margin-top: 0%;
    margin-left: 8%;
    font-size: 1em;
    letter-spacing: 5px;
    color: white;
    z-index: 1;
    opacity: 0.7;
}
.alljobs img {
    position: absolute;
    margin-top: 17%;
    margin-left: 5%;
    transition: 300ms;
}
.alljobs hr {
  width: 30%;
  color: white;
  float: left;
  margin-top: 18.5%;
  transition: 300ms;
}

.alljobs:hover hr {
  color: #ff557d;
    width: 85%;
    transition: 300ms;
}
.alljobs:hover img {
  margin-left: 5%;
  transition: 300ms;
}
.alljobs:hover p{
  opacity: 1;
}
}
@media screen and (max-width: 1601px){
  .imgabout {
  position: absolute;
  border: solid white 1px;
  width: 50%;
  height: 45%;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: 27.5%;
  transition: 250ms;
  background-size: 100%;
  background-position: 0 100%;
  z-index: 5;
}
    .alljobs p {
      font-family: RobotoLight;
      margin-top: 0%;
      margin-left: 8%;
      font-size: 0.9em;
      letter-spacing: 5px;
      color: white;
      z-index: 1;
      opacity: 0.7;
  }
      .dot {
        cursor: pointer;
        height: 3vw;
        width: 11px;
        margin: 0.5% 35px;
        background-position: 50%;
        background-size: 1px 100%;
        display: inline-block;
    }
    .dots{
      transform: rotate(90deg);
      margin-right: -90%;
      margin-top: -52vh;
    }

    .active, .dot:hover {
    }
    .active{
      height: 4vw;
        margin: 0 50px;
    }
}
@media screen and (max-width: 1440px){
   .aboutproject1 p, .aboutproject2 p, .aboutproject3 p, .aboutproject4 p, .aboutproject5 p {
    display: block;
    position: absolute;
    margin-top: 19%;
    margin-left: 7.2%;
    font-family: RobotoBk;
    font-size: 12em;
    letter-spacing: 0.2em;
    opacity: 0.3;
    color: white;
    z-index: 3;
}
    .alljobs p {
      font-family: RobotoLight;
      margin-top: 0%;
      margin-left: 8%;
      font-size: 0.7em;
      letter-spacing: 5px;
      color: white;
      z-index: 1;
      opacity: 0.7;
  }
.projectname p{
  margin-top: 25%;
  margin-left: 21%;
  font-family: RobotoBk;
  font-size: 3em;
  letter-spacing: 0.19em;
   opacity: 1; 
  color: white;
  z-index: 6;
}
      .dot {
        cursor: pointer;
        height: 3vw;
        width: 11px;
        margin: 0.5% 35px;
        background-position: 50%;
        background-size: 1px 100%;
        display: inline-block;
    }
    .dots{
      transform: rotate(90deg);
      margin-right: -89%;
      margin-top: -54vh;
    }

    .active, .dot:hover {
    }
    .active{
      height: 4vw;
        margin: 0 50px;
    }
    .cat p{
  display: block;
  position: absolute;
  margin-top: 40%;
  margin-left: 30%;
  font-family: RobotoLight;
  font-size: 1em;
  letter-spacing: 0.5em;
  opacity: 1;
  color: white;
  z-index: 3;
}

}
@media screen and (max-width: 1368px){
  .dots {
    transform: rotate(90deg);
  }
  .dot {
    cursor: pointer;
    height: 3vw;width: 11px;
    margin: 0.5% 30px;
    background-position: 50%;
    background-size: 1px 100%;
    display: inline-block;
  }
  .alljobs p {
    font-family: RobotoLight;
    margin-top: 0%;margin-left: 8%;
    font-size: 0.7em;
    letter-spacing: 5px;
    color: white;
    z-index: 1;opacity: 0.7;
  }
  .projectname p{
  margin-top: 25%;
  margin-left: 21%;
  font-family: RobotoBk;
  font-size: 3em;
  letter-spacing: 0.19em;
   opacity: 1; 
  color: white;
  z-index: 6;
}
}

@media screen and (max-width: 1281px){
.aboutproject1 p, .aboutproject2 p, .aboutproject3 p, .aboutproject4 p, .aboutproject5 p {
    margin-top: 18%;
    margin-left: 16%;
    font-size: 10em;
    letter-spacing: 0.2em;
}
.alljobs p {
    font-family: RobotoLight;
    margin-top: 0%;
    margin-left: 8%;
    font-size: 0.6em;
    letter-spacing: 5px;
    color: white;
    z-index: 1;
    opacity: 0.7;
}
.projectname p{
  margin-top: 25%;
  margin-left: 21%;
  font-family: RobotoBk;
  font-size: 3em;
  letter-spacing: 0.19em;
   opacity: 1; 
  color: white;
  z-index: 6;
}
.textproject {
    position: absolute;
    width: 50%;
    font-size: 1em;
    color: white;
    margin-left: 30%;
    margin-top: 33%;
    letter-spacing: 0.1em;
}
.cat p{
  display: block;
  position: absolute;
  margin-top: 40%;
  margin-left: 30%;
  font-family: RobotoLight;
  font-size: 1em;
  letter-spacing: 0.5em;
  opacity: 1;
  color: white;
  z-index: 3;
}
.prev, .next {
    height: 7%;
    right: 4%;
    cursor: pointer;
    position: absolute;
    top: 10%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 10;
    background-image: url(../img/btnportf.png);
    background-position: 50%;
}
.next {
    top: 80%;
    transform: rotate(180deg);
}
}




@media screen and (max-width: 1025px){
  .imgabout {
    position: absolute;
    border: solid white 1px;
    width: 50%;
    height: 40%;
    margin: 0 auto;
    margin-top: 3%;
    margin-left: 27.5%;
    transition: 250ms;
    background-size: 100%;
    background-position: 0 100%;
    z-index: 5;
}
.imgabout:hover {
    width: 48.4%;
    height: 37.3%;
    border: solid white 10px;
}
  .dots {
    transform: rotate(90deg);
    margin-right: -89%;
    margin-top: -59vh;
}
  .dot {
    cursor: pointer;
    height: 3vw;
    width: 11px;
    margin: -0.5% 20px;
    background-position: 50%;
    background-size: 1px 100%;
    display: inline-block;
}
  .prev, .next {
    height: 7%;
    right: 4%;
    cursor: pointer;
    position: absolute;
    top: 15%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 10;
    background-position: 50%;
}
.next {
    top: 57.5%;
    transform: rotate(180deg);
}
  
.aboutproject1 p, .aboutproject2 p, .aboutproject3 p, .aboutproject4 p, .aboutproject5 p {
    margin-top: 22%;
    margin-left: 16%;
    font-size: 8em;
    letter-spacing: 0.15em;
}
.alljobs p {
    font-family: RobotoLight;
    margin-top: 0%;
    margin-left: 8%;
    font-size: 0.45em;
    letter-spacing: 2px;
    color: white;
    z-index: 1;
    opacity: 0.7;
}
.projectname p {
    margin-top: 26%;
    margin-left: 22%;
    font-family: RobotoBk;
    font-size: 2em;
    letter-spacing: 0.1em;
    opacity: 1;
    color: white;
    z-index: 6;
}
.textproject {
    position: absolute;
    width: 40%;
    font-size: 0.9em;
    color: white;
    margin-left: 30%;
    margin-top: 31%;
    letter-spacing: 0.1em;
}
.cat p {
    display: block;
    position: absolute;
    margin-top: 40%;
    margin-left: 30%;
    font-family: RobotoLight;
    font-size: 1em;
    letter-spacing: 0.5em;
    opacity: 1;
    color: white;
    z-index: 3;
}
}
@media screen and (max-width: 900px){
  #portfolio{
  display: none;
}
}